form{
  padding: 10rem 0 10rem 0;
  text-align: center;
}
.logtitle{
  padding-bottom: 15%;
  margin-top: 15%;
  margin-left:5%;
  color: white;
}

.pothead{
  padding: 10rem 0 10rem 0;
  text-align: center;
}
