<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/globalStyles.css">
    <link rel="stylesheet" href="../css/contactUs.css">
    <title>Contact Us</title>
</head>
<body>
    <header>
        <div class="navigation" style="background-image:url('../static/21.jpg') ;">
            <nav class="navbar navbar-dark fixed-top bg-dark  " style="padding-top: 0;">
                <ul >
                    <li class="navbar-brand" style="float:left ;"><img src="../static/Untitled-4.png" alt="logo" width="30px" height="auto">
                    <br> <span style="font-family:'Lane - Upper'; ">I<span style="color:rgb(57, 180, 217) ;">NF</span>INITY</span> </li>
                    <li class="nav-item active home"><a  href="../index.html" >Home</a></li>
                    <li class="nav-item"><a href="vehicales.html" >Vehicles</a></li>
                    <li class="nav-item active"><a href="contactUs.html" >Contact Us</a></li>
                    <li class="nav-item"><a href="orderNow.html" >Order Now</a></li>
                    <li class="nav-item"><a href="aboutUs.html" >About Us</a></li>
                    <li class="nav-item" style="float: right; padding:10px; padding-right:50px;">
                        <form action="https://www.google.com/search" class="d-flex">
                            <input name="q" class="form-control me-2 " type="search" placeholder="Search for a car" aria-label="Search">
                            <input  class="btn btn-outline-success " type="submit" value="search">
                    </form>
                    </li>
                </ul>
            </nav>
        <div class=" navtitle fontstyle">
            <h1  class="fontstyle " style="color: rgb(255, 255, 255); text-align: center;">Have any problem with purchasing?? </h1>
            <h2 class="fontstyle" style="color: rgb(255, 255, 255); text-align: center; ">Contact our support team</h2>
        </div>
        </div>
            
    </header>

    <main class="container">
        <h1 style="padding-top:50px ;" class="fontstyle">How Can We Help ?</h1>
        <p style="font-size: 23px;">
            You're not going to hit a ridiculously long phone menu when you call us. Your email isn't going to the inbox abyss, never to be seen or heard from again. At Choice Screening,
             we provide the exceptional service we'd want to experience ourselves!
             We operate in an industry built on trust. This can only be achieved through communication and experienced support – from the first contact past your ten-year anniversary.
At Choice you always talk to a human!

Have questions about background screening? Our entire team receives specialized training regularly to ensure you're receiving the best information possible. From basic questions to complex compliance inquiries, we're here to help!

Interested in learning more about our services? Our Account Executives take the time to discuss your existing background screening program and help you make smart decisions that best meet your needs. 
        </p><br><br>

        <h2>Contact Via Social Media</h2>

        <div class="row">

        <table class="col-4" cellpadding="10" style="float:center ; margin-right: 30px; font-size: 20px;">
            <tr>
                <td><a href="https://facebook.com"><img src="../static/fb.png" alt="" width="50px" height="50px"></a></td>
                <td>Contact Us Via Facebook</td>
            </tr>
            <tr>
                <td><a href="https://instergram.com"><img src="../static/inster.png" alt="" width="50px" height="50px"></a></td>
                <td>Contact Us Via Inster</td>
            </tr>
            <tr>
                <td><a href="https://twitter.com"><img src="../static/twit.png" alt="" width="50px" height="50px"></a></td>
                <td>Contact Us Via Twitter</td>
            </tr>
        </table>

        <table class="col-4" cellpadding="10" style="float:right ; margin-right: 30px;font-size: 20px;">
            <tr>
                <td>Telephones: </td>
                <td>
                    +112-312768 <br>
                    +112-367894 <br>
                    +112-906788 <br>
                </td>
                </tr>
        </table>
        </div>
    </main>
    <footer class="fot">
        <p>All Rights Reserved.&copy; INFINITY . Designed by Bingusara Matheesha.</p>
    </footer>

    
    
</body>
</html>